body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #7db0ff;
    margin: 0;
}

.clock {
    width: 350px;
    height: 350px;
    background: white;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
}

/* Números */
.number {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
               rotate(calc(var(--n) * 30deg))
               translateY(-145px)
               rotate(calc(var(--n) * -30deg));
}

/* ------------------------
   PONTEIROS CORRIGIDOS
   ------------------------ */
.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center; /* CORREÇÃO PRINCIPAL */
    background: black;
    border-radius: 5px;
}

/* ponteiro das horas */
.hour {
    width: 90px;
    height: 6px;
}

/* ponteiro dos minutos */
.minute {
    width: 120px;
    height: 4px;
}

/* ponteiro dos segundos */
.second {
    width: 140px;
    height: 2px;
    background: red;
}

/* bolinha central */
.center {
    width: 16px;
    height: 16px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}